/* Background container and video */
.login-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    color: white;
    font-family: "Play", sans-serif;
    z-index: 1;
  }
  
  .video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    border-radius: 45%;
  }
  
  /* Title Styling */
  .title-container {
    font-size: 5vw;
    color: rgb(80, 255, 179);
    position: absolute;
    left: 50%;
    transform: translate(-50%,88%);
    text-align: center;
    width: 100%;
    z-index: 5;
  }
  
  .title {
    font-size: 5vw;
    margin: 0;
  }
  
  .h2-title {
    font-size: 2.5vw;
    color: rgb(234, 234, 9);
    margin: 0;
  }
  
  /* Year 2025 */
  .year-text {
    position: absolute;
    top: 30%;
    left: 50.3%;
    transform: translateX(-50%);
    font-size: 14.6vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 2;
  }
  
  /* Auth Form */
  .auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 4;
  }
  
  .inputs-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .input-window {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 35px;
    font-size: 14px;
    outline: none;
    font-family: "Play", sans-serif;
    transition: background-color 0.3s ease-in-out;
  }
  
  .input-window:focus {
    background-color: rgb(252, 255, 168);
  }
  
  .auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    font-size: 16px;
    font-family: "Play", sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    transition: all 0.3s ease;
    background-color: rgb(234, 234, 9);
    padding: 10px 20px;
    color: rgb(0, 0, 0);
  }
  
  .btn:hover {
    font-weight: bold;
    transform: scale(1.1);
  }
  
  /* Social Icons */
  .social-icons {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 4;
  }
  
  .social-icon {
    width: 1.2vw;
    height: auto;
    opacity: 0.7;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  /* Footer */
  .footer {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 11px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    z-index: 4;
  }
  
  .backgroundpicture {
    position: fixed;
    top: 5%;
    left: 0;
    width: 30vw;
    height: 90vh;
    background-image: url("/images/AdobeStock_970112383.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15%;
  }
  .auth-details {
    position: fixed;
    top: 10px;
    left: 98px;
    font-size: 1.8vh;
    font-family: 'Play', 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1000;
  }
  
  .authdetails-msg {
    background-color: rgb(80, 255, 179);
    border-radius: 16px;
    padding: 12px 20px;
    width: fit-content;
    max-width: 70vw; /* Limit so it doesn't stretch too far */
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Play', 'Poppins', sans-serif;
    font-size: 12px;
  }
  .footer-black {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 11px;
    color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: 1000;
    font-family: 'Play', 'Poppins', sans-serif;
    
  }
  .logout-btn {
    position: fixed; /* Keeps the logout button fixed during scrolling */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    font-size: 12px;
    color: rgb(2, 2, 2);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.search-form {
  width: 50%;
  padding: 10px;
  margin: 8px 3px;
  border-radius: 15px;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: rgb(234, 234, 9);
  color: rgb(50, 50, 50);
  transition: all 0.3s ease-in-out;
  font-family: 'Play', 'Poppins', sans-serif;
   margin-left: 60%;
  margin-top: 2%;
  transform: translateX(-50%);
}

.list-container {
  margin-inline-end: 20px; /* Existing property */
  max-height: 250px; /* Set the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  
}
.search-form button {
  margin-left: 2%;
  font-family: "Play", sans-serif;
  width: 10%;
  padding:3px;
  background-color: rgb(80, 255, 179);
  color: rgb(35, 35, 35);
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.search-form button:hover {
  background-color: #f6ede2;
  transform: scale(1.05);
}

.search-form input {
  width: 20%;
  padding: 10px;
  margin: 1px 3px;
  border-radius: 15px;
  font-size: 10px;
  border: none;
  outline: none;
  color: rgb(50, 50, 50);
  transition: all 0.3s ease-in-out;
}

.search-form input:focus {
  font-family: "Play", sans-serif;
  background-color: rgb(255, 255, 255);
}

.list-container {
  width: 50%;
  padding: 10px;
  margin: 8px 3px;
  border-radius: 15px;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: rgb(239, 239, 239);
  color: rgb(50, 50, 50);
  transition: all 0.3s ease-in-out;
  font-family: 'Play', 'Poppins', sans-serif;
   margin-left: 60%;
  margin-top: 2%;
  transform: translateX(-50%);
}

.register-btn {
  font-family: "Play", sans-serif;
  width: 10%;
  padding:3px;
  background-color: rgb(80, 255, 179);
  color: rgb(35, 35, 35);
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.register-btn:hover {
  background-color: rgb(234, 234, 9);
  transform: scale(1.05);
}

.tournament-card-horizontal {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Play", sans-serif;
  flex-wrap: wrap; /* allows it to break on small screens */
}

.game-title {
  color: rgb(0, 176, 144);
  font-weight: 600;
}

.registration-box {
  margin-inline-end: 20px; /* Existing property */
  max-height: 700px; /* Set the maximum height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding-bottom: 1%;
  
}
.registration-box{
  position:absolute;
  top:28vh;
  width: 29vw;
  background-color: rgba(255, 255, 255, 0.506);
  border-radius: 35px;
  font-family: "play";
  font-size: 12px;
  overflow-y: auto;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  
}
.registration-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 13px;
}
.reg-btn {
  all: unset; /* removes all browser styling */
  cursor: pointer;
  font-family: 'Play', sans-serif;
  color: rgb(0, 0, 0); /* or any color you want */
}
.btnclose {
  font-family: "Play", sans-serif;
  width: 10%;
  padding:3px;
  background-color: rgb(234, 234, 9);
  color: rgb(35, 35, 35);
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.btnclose:hover {
  background-color: rgb(213, 213, 213);
  transform: scale(1.05);
}
.btndelete {
  font-family: "Play", sans-serif;
  width: 20%;
  padding:3px;
  background-color: rgb(252, 119, 119);
  color: rgb(35, 35, 35);
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.btndelete:hover {
  background-color: rgb(213, 213, 213);
  transform: scale(1.05);;
}
.map-container {
  width: 52%;
  height: 250px; 
  padding: 0;
  border-radius: 15px;
  margin-left: 60%;
  margin-top: 2%;
  transform: translateX(-50%);
  position: relative;
  overflow: hidden;
}

.popup-register-btn {
  font-family: "Play", sans-serif;
  width: 40%;
  padding:3px;
  background-color: rgb(80, 255, 179);
  color: rgb(35, 35, 35);
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.popup-register-btn:hover {
  background-color: rgb(234, 234, 9);
  transform: scale(1.05);
}